  <% for(let transacao of transacoes) { %>
    <% if(transacao.owner === user._id) { %>
      <% if(transacao.tipo === 'despesa') { %>
        <tr class="despesa">
          <td class=" first-transacoes red"><%= transacao.identificador %></td>
          <% } else if(transacao.tipo ==='receita'){ %>
          <tr class="receita">
            <td class=" first-transacoes green"><%= transacao.identificador %></td>
          <% } %>

          <!-- ICONE -->
          <td id="icon">
            <% 
              for(let i = 0; i<10; i++){
                switch(transacao.icon){
                  case 'salario':%> 
                    <img src="./assets/img/icons/transacoes-icons/salario.svg" onload="SVGInject(this)" alt="">
                   <% break;
                  case 'red-person':%>
                    <img src="./assets/img/icons/transacoes-icons/red-person.svg" onload="SVGInject(this)" alt="">
                   <% break;
                  case 'games':%>
                  <img src="./assets/img/icons/transacoes-icons/games.svg" onload="SVGInject(this)" alt="">

                   <% break;
                  case 'travels':%>
                  <img src="./assets/img/icons/transacoes-icons/travels.svg" onload="SVGInject(this)" alt="">

                   <% break;
                  case 'mercado':%>
                  <img src="./assets/img/icons/transacoes-icons/mercado.svg" onload="SVGInject(this)" alt="">

                   <% break;
                  case 'painting':%>
                  <img src="./assets/img/icons/transacoes-icons/painting.svg" onload="SVGInject(this)" alt="">

                   <% break;
                  case 'etiqueta':%>
                  <img src="./assets/img/icons/transacoes-icons/etiqueta.svg" onload="SVGInject(this)" alt="">

                   <% break;
                  case 'lazer':%>
                  <img src="./assets/img/icons/transacoes-icons/lazer.svg" onload="SVGInject(this)" alt="">

                   <% break;
                  case 'heart':%>
                  <img src="./assets/img/icons/transacoes-icons/heart.svg" onload="SVGInject(this)" alt="">
                  <% break;
                }
              }
              %> 

          </td>
        <td><%= transacao.categoria %></td>

        <% 
          const dataD = new Date(transacao.data.getDate(), transacao.data.getMonth(), transacao.data.getFullYear());
          if(dataD > new Date() && transacao.tipo === 'despesa') {
        %>
        <td style="color: red;"><%= `${transacao.data.getDate() + 1}/${transacao.data.getMonth() + 1}/${transacao.data.getFullYear()}` %></td>
        <% } else{ %>
        <td><%= `${transacao.data.getDate() + 1}/${transacao.data.getMonth() + 1}/${transacao.data.getFullYear()}` %></td>
        <% } %>
        
        <% if(transacao.tipo === 'despesa') { %>
          <td class="tipo-transacao-despesa"><%= `R$ ${transacao.valor}` %></td>
          <td class=" last-transacoes red">editar</td>
        <% } else if(transacao.tipo ==='receita'){ %>
          <td class="tipo-transacao-receita "><%= `R$ ${transacao.valor}` %></td>
          <td class=" last-transacoes green">editar</td>
        <% } %>
      </tr>   
    <% } %>
  <% } %>  

