<table class="historico-table">
  <tr>
    <th style="width: 5%; content: '';"></th>
    <th>Identificador</th>
    <th>Tipo</th>
    <th>Data</th>
    <th style="text-align: right;">Valor</th>
  </tr>

  <% for(let transacao of transacoes) { %>
    <% if(transacao.owner === user._id) { %>
      <tr>
        <td class="historico-table-icon">
            <% if(transacao.icone === "salario") { %>
              <img src="/assets/img/icons/transacoes-icons/salario.svg" loading="lazy" alt="">
            <% } %>

            <% if(transacao.icone === "red-person") { %>
              <img src="/assets/img/icons/transacoes-icons/red-person.svg" loading="lazy" alt="">
            <% } %>

            <% if(transacao.icone === "games") { %>
              <img src="/assets/img/icons/transacoes-icons/games.svg" loading="lazy" alt="">
            <% } %>

            <% if(transacao.icone === "travels") { %>
              <img src="/assets/img/icons/transacoes-icons/travels.svg" loading="lazy" alt="">
            <% } %>

            <% if(transacao.icone === "mercado") { %>
              <img src="/assets/img/icons/transacoes-icons/mercado.svg" loading="lazy" alt="">
            <% } %>

            <% if(transacao.icone === "painting") { %>
              <img src="/assets/img/icons/transacoes-icons/painting.svg" loading="lazy" alt="">
            <% } %>

            <% if(transacao.icone === "etiqueta") { %>
              <img src="/assets/img/icons/transacoes-icons/etiqueta.svg" loading="lazy" alt="">
            <% } %>

            <% if(transacao.icone === "lazer") { %>
              <img src="/assets/img/icons/transacoes-icons/lazer.svg" loading="lazy" alt="">
            <% } %>

            <% if(transacao.icone === "heart") { %>
              <img src="/assets/img/icons/transacoes-icons/heart.svg" loading="lazy" alt="">
            <% } %>
          </td>
        <td class="historico-table-id"><%= transacao.identificador %></td>
        <td class="historico-table-tipo"><%= transacao.categoria %></td>

        <% 
          const dataD = new Date(transacao.data.getDate(), transacao.data.getMonth(), transacao.data.getFullYear());
          if(dataD > new Date() && transacao.tipo === 'despesa') {
        %>
        <td style="color: red;" class="historico-table-data"><%= `${transacao.data.getDate() + 1}/${transacao.data.getMonth() + 1}/${transacao.data.getFullYear()}` %></td>
        <% } else{ %>
        <td class="historico-table-data"><%= `${transacao.data.getDate() + 1}/${transacao.data.getMonth() + 1}/${transacao.data.getFullYear()}` %></td>
        <% } %>
        
        <% if(transacao.tipo === 'despesa') { %>
        <td class="tipo-transacao-despesa historico-table-valor"><%= `R$ ${transacao.valor}` %></td>
        <% } else if(transacao.tipo ==='receita'){ %>
          <td class="tipo-transacao-receita historico-table-valor"><%= `R$ ${transacao.valor}` %></td>
        <% } %>
      </tr>   
    <% } %>
  <% } %>  

</table>