<%- include('includes/head'); %>
<%- include('includes/voltarButton'); %>
  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      
      <div class="col-lg-6">

        <div class="form-login mx-auto my-5">
          
          <div class="form-header receita">
            <h1 class="welcome title-login text-left">Cadastrar Receita</h1>
          </div>
          <%- include('includes/messages'); %>
          <section class="form receitas-form">
            <form class="my-3 " action="/receitas/registrar/index" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="hidden" name="owner" value="<%= user._id %>">
              <input type="hidden" name="tipo" value="receita">
              <div class="form-group">
                <label>Identificador:</label>
                <input type="text" class="form-control" name="identificador" placeholder="Digite um identificador">
                <div class="error-div error-ident"></div>
              </div>
              <div class="form-group">
                <label>Valor:</label>
                <input type="text" class="form-control" name="valor" placeholder="Digite o valor da despesa">
                <div class="error-div error-valor"></div>
              </div>
              <div class="form-group">
                <label>Data:</label>
                <input type="date" class="form-control" name="data">
                <div class="error-div error-vencimento"></div>
              </div>
              <div class="form-group">
                <label>Categoria:</label>
                <select name="categoria" id="categoria" required>
                  <option value="Salario">Salário</option>
                  <option value="Projeto">Restaurante</option>
                  <option value="Apostas">Supermercado</option>
                  <option value="Vendas">Lazer</option>
                  <option value="Loja">Esporte</option>
                  <option value="Eletronicos">Eletrônicos</option>
                  <option value="Transporte">Transporte</option>
                  <option value="Escola">Escola</option>
                  <option value="Faculdade">Faculdade</option>
                </select>
                <div class="error-div error-categoria"></div>
              </div>
              <div class="form-group">
                <label>Icone:</label>
                <div class="icones" style="display: flex; justify-content: space-between;"> 
                  <input type="radio" class="form-control" name="icone" value="salario">
                  <input type="radio" class="form-control" name="icone" value="red-person">
                  <input type="radio" class="form-control" name="icone" value="games">
                  <input type="radio" class="form-control" name="icone" value="travels">
                  <input type="radio" class="form-control" name="icone" value="mercado">
                  <input type="radio" class="form-control" name="icone" value="painting">
                  <input type="radio" class="form-control" name="icone" value="etiqueta">
                  <input type="radio" class="form-control" name="icone" value="lazer">
                  <input type="radio" class="form-control" name="icone" value="heart">
                </div>
                <div class="error-div error-icone"></div>
              </div>
                           
              <div class="mx-auto my-4 buttons">
                <button type="submit" class="btn btn-receita" style="width: 100%;">Registrar</button>
              </div>
            </form>
          </section>
          
        </div>
      </div>
        <div class="col-lg-3"></div>
        
      </div>
  </div>
<%- include('includes/footer') %>